/*! TNA Blog styles */
input[type=submit] {
  border-radius: 0; }

.entry-header h1 {
  margin-bottom: 24px; }

h1 span {
  color: #555;
  display: block;
  font-size: 16px; }

.content-area main a {
  text-decoration: underline; }

.emphasis-alert {
  margin: 1em 0;
  padding: 1.6em 1em;
  font-size: 1em;
  background-color: #dde5d5 !important;
  border-left: #26262a 2px solid; }

.page-numbers {
  padding: 0 4px; }

ul.loop-results {
  padding: 0; }
  ul.loop-results li {
    list-style: none;
    border-bottom: 1px dotted #ccc; }

ul.page-numbers li span {
  display: block;
  color: #26262a;
  background-color: #fff;
  text-align: center;
  border: 2px solid #26262a;
  font-size: 1.25em;
  line-height: 44px;
  width: 48px;
  height: 48px;
  border-radius: 50%; }

.gallery .gallery-item img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto; }

.entry-meta span {
  color: #bbb; }

.separator-heading {
  margin-bottom: 24px; }

.cards p {
  margin: 0; }

.comments-area {
  margin-bottom: 24px; }
  .comments-area cite {
    font-style: normal; }
  .comments-area .commentlist li div.comment-body .reply .comment-reply-link:focus {
    color: #fff !important;
    background-color: #111;
    background-color: rgba(0, 0, 0, 0.75); }

#respond input[type="submit"] {
  float: right;
  border-radius: 0; }
#respond .form-submit:after {
  clear: both;
  display: table;
  content: " "; }

.single .blog-toolbar {
  margin-bottom: 1.6em; }
.single .blog article .entry-header {
  padding: 0;
  background: none; }
.single .blog article .entry-header h2 {
  background-color: transparent;
  margin: 0;
  padding: 20px;
  display: block;
  color: #000; }
.single .blog article .entry-header:after {
  content: '';
  display: block;
  height: 10px;
  margin: 0;
  background: none; }
.single .blog article .entry-meta {
  font-family: 'Roboto Mono', sans-serif; }

.blog-toolbar form {
  color: #444;
  margin: 0; }
.blog-toolbar select {
  width: 100%; }
.blog-toolbar .button {
  padding: 4.5px .9em; }
.blog-toolbar .entry-content {
  background: #dde5d5;
  width: 100%;
  padding: 1em; }
.blog-toolbar .search-wrapper {
  position: relative;
  display: block; }
  .blog-toolbar .search-wrapper label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0; }
  .blog-toolbar .search-wrapper input[type="submit"] {
    color: transparent;
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    background-image: url(../img/search-white.png);
    background-repeat: no-repeat;
    background-position: center; }
  .blog-toolbar .search-wrapper input[type="text"] {
    float: right;
    padding: 4px 45px 4px 4px;
    width: 100%;
    max-width: 100%;
    height: 40px;
    text-indent: 10px;
    border-radius: 0; }

.blog-header {
  background: #dde5d5; }
  .blog-header .entry-header {
    height: 130px;
    background-color: #ddd;
    background-position: center center;
    background-size: cover;
    position: relative; }
  .blog-header .blog-toolbar .entry-content {
    padding: 1em 0; }
  .blog-header .h1 {
    display: inline-block;
    background-color: rgba(38, 38, 42, 0.6);
    border: 2px solid #26262a;
    padding: 5px 22px;
    margin: 16px; }
    .blog-header .h1 a {
      color: #fff; }
      .blog-header .h1 a:focus {
        color: #26262a; }

a.feature-img:focus {
  display: block;
  background-color: #fce45c;
  outline: 3px solid #ebab00; }

.feature-img-bg {
  position: relative;
  display: block;
  background-color: #eee;
  width: 100%;
  height: 180px;
  background-position: center center;
  background-size: cover; }

.feature-img-thumb {
  position: relative;
  display: block;
  margin-top: 20px;
  background-color: #eee;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 150px; }

.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  background-color: #ddd;
  border-radius: 0; }

.nav-pills > li.active > a {
  background-color: #26262a;
  border-radius: 0; }

.nav-pills > li.active > a:hover {
  background: #dde5d5;
  color: #000; }

.nav-pills > li.active > a:focus {
  color: #fff !important;
  background-color: #111;
  background-color: rgba(0, 0, 0, 0.75); }

.nav-pills > li > a {
  border-radius: 0;
  background: #eee;
  margin-right: 0.3em; }

.nav-pills > li > a:focus {
  color: #fff !important;
  background-color: #111;
  background-color: rgba(0, 0, 0, 0.75); }

.no-js .tab-content > .tab-pane {
  display: block;
  margin-bottom: 1em; }

.latest-posts a.button {
  margin-bottom: 1.6em; }

.tagcloud, .widget_nktagcloud .sidebar-content {
  margin-bottom: 1em;
  padding-bottom: 20px; }

.tags {
  margin: 1em 0; }
  .tags h3 {
    border-top: 2px solid #26262a;
    padding-top: 10px;
    margin-top: 0; }
  .tags a {
    text-decoration: none;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1em; }
  .tags a:hover {
    text-decoration: underline; }

.sidebar-widget {
  margin-bottom: 1.6em; }
  .sidebar-widget h2 {
    border-top: 2px solid #26262a;
    padding-top: 10px;
    margin-top: 0; }
  .sidebar-widget ul {
    margin: 0;
    padding: 0;
    list-style: none; }

.entry-video .video-container {
  position: relative;
  padding-bottom: 48.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }
  .entry-video .video-container iframe, .entry-video .video-container #player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important; }
  .entry-video .video-container .jw-preview {
    background-position: center center;
    background-size: cover; }
.entry-video .video-toolbar {
  padding: 0.3em 0;
  background-color: #26262a;
  color: #fff;
  font-size: 0.9em; }
  .entry-video .video-toolbar a {
    color: #fff; }
  .entry-video .video-toolbar .addthis_toolbox a {
    margin-bottom: 0;
    margin-top: 2px;
    height: 20px; }

.tna-amp .banner .button {
  margin-bottom: 5px; }
.tna-amp .media-credits span {
  color: #bbb; }
.tna-amp .tab-content {
  margin-top: 1em;
  margin-bottom: 1.6em; }
.tna-amp .entry-media-slideshare .slides {
  position: relative;
  overflow: hidden; }
  .tna-amp .entry-media-slideshare .slides iframe {
    width: 100%; }
.tna-amp .transcription-content {
  border: 1px solid #ddd;
  padding: 1em; }
.tna-amp .icon-square {
  display: inline-block;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: 68% 68%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
  margin: 0 .2em .3em 0;
  cursor: pointer;
  transition: .4s ease-in-out;
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out; }
.tna-amp .button-icon {
  display: inline-block;
  background-color: #26262a;
  background-size: 30px;
  background-position: right 5px center;
  background-repeat: no-repeat;
  padding: 7px 42px 7px 16px;
  cursor: pointer; }
.tna-amp .button-icon:hover {
  background-color: #fff;
  color: #26262a; }
.tna-amp .button-icon:focus {
  color: #fff; }
.tna-amp .icon-size-26 {
  background-size: 78% 78%;
  width: 26px;
  height: 26px; }
.tna-amp .icon-video {
  background-image: url(../img/video.png); }
.tna-amp .icon-audio {
  background-image: url(../img/audio.png); }
.tna-amp .icon-rss {
  background-image: url(../img/icon-rss.png); }
.tna-amp .feature-img-thumb .icon-circle {
  position: absolute;
  right: 5px;
  top: 5px; }
.tna-amp .feature-img-thumb .icon-square {
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0; }
.tna-amp .feature-img-bg .icon-circle {
  position: absolute;
  right: 5px;
  top: 5px; }
.tna-amp .feature-img-bg .icon-square {
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0; }

.related-posts {
  background: #eee;
  margin-bottom: 1.5em; }
  .related-posts h4 small {
    padding: 0.3em 0.6em;
    background: #fff;
    margin-left: 0.3em; }
  .related-posts .related-posts-head p {
    margin: 10px 0; }
  .related-posts .related-post small {
    color: #222; }
  .related-posts .related-post p {
    margin: 0.2em 0; }
  .related-posts .related-post h4 {
    margin-bottom: 1em; }
  .related-posts li.related-post h5 {
    margin: 0;
    font-size: 1.02em; }
  .related-posts .related-post-thumb {
    height: 125px;
    width: 100%;
    background: #ddd center center;
    background-size: cover; }
