/*! TNA Blog styles */
input[type=submit] {
  border-radius: 0; }

a.button:focus, input[type=submit]:focus {
  color: #fff !important; }

.emphasis-alert {
  margin: 1em 0;
  padding: 1.6em 1em;
  font-size: 1em;
  background-color: #fff2ae;
  border-left: #FCE45C 4px solid; }

.page-numbers {
  padding: 0 4px; }

ul.loop-results {
  padding: 0; }
  ul.loop-results li {
    list-style: none;
    border-bottom: 1px dotted #ccc; }

.gallery .gallery-item img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto; }

.entry-meta span {
  color: #bbb; }

#comments {
  padding: 0 20px; }
  #comments cite {
    font-style: normal; }
  #comments .commentlist li div.comment-body .reply .comment-reply-link:focus {
    color: #fff !important;
    background-color: #111;
    background-color: rgba(0, 0, 0, 0.75); }

#respond {
  padding: 2em 0; }
  #respond input[type="submit"] {
    float: right;
    border-radius: 0; }
  #respond .form-submit:after {
    clear: both;
    display: table;
    content: " "; }

.single .blog article .entry-header {
  padding: 0;
  background: none; }
.single .blog article .entry-header h2 {
  background-color: transparent;
  margin: 0;
  padding: 20px;
  display: block;
  color: #000; }
.single .blog article .entry-header:after {
  content: '';
  display: block;
  height: 10px;
  margin: 0;
  background: none; }
.single .blog article .entry-meta {
  margin: 0 20px;
  border-bottom: 1px dotted #ccc; }
.single #blogsocial {
  margin: 0 20px; }

.blog-header h1 a {
  color: #fff; }
.blog-header form {
  color: #444;
  margin: 0; }
.blog-header select {
  width: 100%;
  margin-bottom: 0.3em; }
.blog-header .follow-us a img {
  margin: 0;
  width: 40px; }
.blog-header article {
  height: 200px;
  background-position: center center;
  background-size: cover;
  background-color: #fff; }
  .blog-header article .entry-header {
    background: none; }
  .blog-header article .entry-content {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #000;
    background: rgba(0, 0, 0, 0.66);
    color: #ddd;
    width: 100%;
    padding: 20px; }
.blog-header .search-wrapper {
  position: relative;
  display: block; }
  .blog-header .search-wrapper label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0; }
  .blog-header .search-wrapper input[type="submit"] {
    color: transparent;
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    background-image: url(../img/search-white.png);
    background-repeat: no-repeat;
    background-position: center; }
  .blog-header .search-wrapper input[type="text"] {
    float: right;
    padding: 4px 45px 4px 4px;
    width: 100%;
    max-width: 100%;
    height: 40px;
    text-indent: 10px;
    border-radius: 0; }

a.feature-img:focus {
  display: block;
  background-color: #fce45c;
  outline: 3px solid #ebab00; }

.feature-img-bg {
  position: relative;
  display: block;
  background-color: #eee;
  width: 100%;
  height: 180px;
  background-position: center center;
  background-size: cover; }

.feature-img-thumb {
  position: relative;
  display: block;
  margin-top: 20px;
  background-color: #eee;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 150px; }

.nav > li > a:focus, .nav > li > a:hover {
  text-decoration: none;
  background-color: #ddd;
  border-radius: 0; }

.nav-pills > li.active > a {
  background-color: #008484;
  border-radius: 0; }

.nav-pills > li.active > a:hover {
  background: #FCE45C;
  color: #000; }

.nav-pills > li.active > a:focus {
  color: #fff !important;
  background-color: #111;
  background-color: rgba(0, 0, 0, 0.75); }

.nav-pills > li > a {
  border-radius: 0;
  background: #eee;
  margin-right: 0.3em; }

.nav-pills > li > a:focus {
  color: #fff !important;
  background-color: #111;
  background-color: rgba(0, 0, 0, 0.75); }

.no-js .tab-content > .tab-pane {
  display: block;
  margin-bottom: 1em; }

.tagcloud, .widget_nktagcloud .sidebar-content {
  margin-bottom: 1em;
  padding-bottom: 20px; }

.tags {
  margin: 20px;
  border-bottom: 1px dotted #ccc; }
  .tags a {
    text-decoration: none;
    font-family: 'Bitter', sans-serif;
    font-size: 1.3em; }
  .tags a:hover {
    text-decoration: underline; }

.sidebar-widget {
  margin-bottom: 1em; }

.sidebar-content {
  background-color: #fff;
  padding: 20px 15px 0 20px; }

.entry-video .video-container {
  position: relative;
  padding-bottom: 48.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }
  .entry-video .video-container iframe, .entry-video .video-container #player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important; }
  .entry-video .video-container .jw-preview {
    background-position: center center;
    background-size: cover; }
.entry-video .video-toolbar {
  padding: 0.3em 0;
  background-color: #222;
  color: #fff;
  font-size: 0.9em; }
  .entry-video .video-toolbar a {
    color: #fff; }
  .entry-video .video-toolbar .addthis_toolbox a {
    margin-bottom: 0;
    margin-top: 2px;
    height: 20px; }

.tna-amp .banner .button {
  margin-bottom: 5px; }
.tna-amp .media-credits span {
  color: #bbb; }
.tna-amp .entry-media-slideshare .slides {
  position: relative;
  overflow: hidden; }
  .tna-amp .entry-media-slideshare .slides iframe {
    width: 100%; }
.tna-amp .transcription-content {
  border: 1px solid #ddd;
  padding: 1em; }
.tna-amp .icon-circle {
  display: inline-block;
  background-color: #008484;
  background-size: 68% 68%;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  margin: 0 .2em .3em 0;
  cursor: pointer;
  transition: .4s ease-in-out;
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out; }
.tna-amp .icon-square {
  display: inline-block;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: 68% 68%;
  background-position: center center;
  background-repeat: no-repeat;
  width: 42px;
  height: 42px;
  margin: 0 .2em .3em 0;
  cursor: pointer;
  transition: .4s ease-in-out;
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out; }
.tna-amp .button-icon {
  display: inline-block;
  background-color: #008484;
  background-size: 30px;
  background-position: right 5px center;
  background-repeat: no-repeat;
  padding: 7px 42px 7px 16px;
  cursor: pointer; }
.tna-amp .icon-size-26 {
  background-size: 78% 78%;
  width: 26px;
  height: 26px; }
.tna-amp .icon-video {
  background-image: url(../img/video.png); }
.tna-amp .icon-audio {
  background-image: url(../img/audio.png); }
.tna-amp .icon-rss {
  background-image: url(../img/icon-rss.png); }
.tna-amp .feature-img-thumb .icon-circle {
  position: absolute;
  right: 5px;
  top: 5px; }
.tna-amp .feature-img-thumb .icon-square {
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0; }
.tna-amp .feature-img-bg .icon-circle {
  position: absolute;
  right: 5px;
  top: 5px; }
.tna-amp .feature-img-bg .icon-square {
  margin: 0;
  position: absolute;
  left: 0;
  bottom: 0; }
.tna-amp .content-type {
  margin-top: 1em;
  color: #444;
  font-size: .9em;
  border-left: #ebab01 4px solid;
  padding: 0 0.5em; }
