input[type=submit] {
  border-radius: 0;
}

a.button:focus, input[type=submit]:focus {
  color: #fff !important;
}

.entry-header h1 {
  margin-bottom: 24px;
}

.emphasis-alert {
  margin: 1em 0;
  padding: 1.6em 1em;
  font-size: 1em;
  background-color: #fff2ae;
  border-left: #FCE45C 4px solid;
}

.page-numbers {
  padding: 0 4px;
}

ul.loop-results {
  padding: 0;
  li {
    list-style: none;
    border-bottom: 1px dotted #ccc;
  }
}

ul.page-numbers li span {
  display: block;
  color: #26262a;
  background-color: #fff;
  text-align: center;
  border: 2px solid #26262a;
  font-size: 1.25em;
  line-height: 44px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.gallery {
  .gallery-item img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}

.entry-meta span {
  color: #bbb;
}

.separator-heading {
  margin-bottom: 24px;
}