.blog-toolbar {
  background: #dde5d5;
  width: 100%;
  padding: 1em 0;
  form {
    color: #444;
    margin: 0;
  }
  select {
    width: 100%;
    text-indent: 7px;
  }
  .button {
    padding: 4.5px .9em;
  }
  .search-wrapper {
    position: relative;
    display: block;
    label {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0,0,0,0);
      border: 0;
    }
    input[type="submit"] {
      color: transparent;
      position: absolute;
      right: 0;
      width: 40px;
      height: 40px;
      background-image: url(../img/search-white.png);
      background-repeat: no-repeat;
      background-position: center;
    }
    input[type="text"] {
      float: right;
      padding: 4px 45px 4px 4px;
      width: 100%;
      max-width: 100%;
      height: 40px;
      text-indent: 10px;
      border-radius: 0;
    }
    #searchsubmit:hover {
      background-color: #000;
    }
  }
  @media (max-width: 992px) {
    .toolbar-col {
      margin-bottom: 7px;
    }
  }
}
.single .blog-toolbar {
  @media (max-width: 992px) {
    .toolbar-col {
      display: none;
    }
  }
}
.blog-header {
  background: #dde5d5;
  .entry-header {
    height: 130px;
    background-color: #ddd;
    background-position: center center;
    background-size: cover;
    position: relative;
  }
  .h1 {
    display: inline-block;
    background-color: rgba(38,38,42,0.6);
    border: 2px solid #26262a;
    padding: 5px 22px;
    margin: 16px;
    a {
      color: #fff;
      &:focus {
        color: #26262a;
      }
    }
  }
}
