a.feature-img:focus {
  display: block;
  background-color: #fce45c;
  outline: 3px solid #ebab00;
}
.feature-img-bg {
  position: relative;
  display: block;
  background-color: #eee;
  width: 100%;
  height: 180px;
  background-position: center center;
  background-size: cover;
  .icon-circle {
    position: absolute;
    right: 5px;
    top: 5px;
  }
}
.feature-img-thumb {
  position: relative;
  display: block;
  margin-top: 20px;
  background-color: #eee;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 150px;
  .icon-circle {
    position: absolute;
    right: 5px;
    top: 5px;
  }
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: #ddd;
  border-radius: 0;
}
.nav-pills>li.active>a {
  background-color: #008484;
  border-radius: 0;
}
.nav-pills>li.active>a:hover {
  background: #FCE45C;
  color: #000;
}
.nav-pills>li.active>a:focus {
  color: #fff !important;
  background-color: #111;
  background-color: rgba(0,0,0,.75);
}
.nav-pills>li>a {
  border-radius: 0;
  background: #eee;
  margin-right: 0.3em;
}
.nav-pills>li>a:focus {
  color: #fff !important;
  background-color: #111;
  background-color: rgba(0,0,0,.75);
}
.no-js .tab-content>.tab-pane {
  display: block;
  margin-bottom: 1em;
}