.related-posts {
  background: #eee;
  margin-bottom: 1.5em;
  h4 small {
    padding: 0.3em 0.6em;
    background: #fff;
    margin-left: 0.3em;
  }
  .related-posts-head p {
    margin: 10px 0;
  }
  .related-post small {
    color: #222;
  }
  .related-post p {
    margin: 0.2em 0;
  }
  li.related-post h5 {
    margin: 0;
    font-size: 1.02em;
  }
  .related-post h4 {
    margin-bottom: 1em;
  }
  .related-post-thumb {
    height: 125px;
    width: 100%;
    background: #ddd center center;
    background-size: cover;
  }
}