.tagcloud, .widget_nktagcloud .sidebar-content {
  margin-bottom: 1em;
  padding-bottom: 20px;
}

.tags {
  margin: 1em 0;
  h3 {
    border-top: 2px solid #26262a;
    padding-top: 10px;
    margin-top: 0;
  }
  a {
    text-decoration: none;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1em;
  }
  a:hover {
    text-decoration: underline;
  }
}

.sidebar-widget {
  margin-bottom: 1.6em;

  h2 {
    border-top: 2px solid #26262a;
    padding-top: 10px;
    margin-top: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
