.single {
  .single-header {
    background: #dde5d5;
    width: 100%;
    margin-bottom: 1.6em;
  }
  .blog article {
    .entry-header {
      padding: 0;
      background: none;
    }
    .entry-header h2 {
      background-color: transparent;
      margin: 0;
      padding: 20px;
      display: block;
      color: #000;
    }
    .entry-header:after {
      content: '';
      display: block;
      height: 10px;
      margin: 0;
      background: none;
    }
    .entry-meta {
      font-family: 'Roboto Mono', sans-serif;
    }
  }
}